{
  "extends": ["plugin:react/recommended", "airbnb"],
  "plugins": ["import", "react"],
  "parserOptions": {
    "project": "./tsconfig.json",
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "rules": {
    "semi": [0, "always"],
    "comma-dangle": [0, "always-multiline"],
    "import/newline-after-import": [
      0,
      {
        "count": 1
      }
    ],
    "max-len": "off",
    "import/no-absolute-path": 0,
    "import/extensions": 0,
    "no-mixed-operators": 0,
    "import/no-unresolved": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "no-restricted-properties": [
      0,
      {
        "property": "lenght"
      }
    ],
    "import/no-extraneous-dependencies": [
      0,
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": true
      }
    ],
    "linebreak-style": ["off", "unix"],
    "react/jsx-props-no-spreading": [
      0,
      {
        "html": "ignore",
        "custom": "ignore",
        "explicitSpread": "ignore",
        "exceptions": []
      }
    ],
    "react/jsx-one-expression-per-line": [
      0,
      {
        "allow": "single-child"
      }
    ],
    "object-curly-spacing": [0, "always"],
    "react/prop-types": 0,
    "no-undef": 0,
    "quotes": [2, "single", "avoid-escape"],
    "jsx-quotes": ["off", "prefer-single"],
    "jsx-a11y/no-noninteractive-element-to-interactive-role": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/no-noninteractive-tabindex": 0,
    "no-plusplus": 0,
    "import/prefer-default-export": 0,
    "no-use-before-define": 0,
    "no-nested-ternary": 0,
    "no-unused-vars": 1,
    "no-sequences": "error"
  }
}
