{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "airbnb"],
  "plugins": ["import", "react"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "semi": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "import/newline-after-import": [
      "error",
      {
        "count": 1
      }
    ],
    "max-len": "off",
    "import/no-absolute-path": 0,
    "import/extensions": 0,
    "no-mixed-operators": 0,
    "import/no-unresolved": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "no-restricted-properties": [
      "error",
      {
        "property": "lenght"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": true
      }
    ],
    "linebreak-style": ["off", "unix"],
    "react/jsx-props-no-spreading": [
      0,
      {
        "html": "ignore",
        "custom": "ignore",
        "explicitSpread": "ignore",
        "exceptions": []
      }
    ],
    "react/jsx-one-expression-per-line": [
      0,
      {
        "allow": "single-child"
      }
    ],
    "object-curly-spacing": [0, "always"],
    "react/prop-types": 0,
    "no-undef": 0,
    "quotes": [2, "single", "avoid-escape"],
    "jsx-quotes": ["warn", "prefer-single"],
    "jsx-a11y/no-noninteractive-element-to-interactive-role": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/no-noninteractive-tabindex": 0,
    "no-plusplus": 0,
    "import/prefer-default-export": 0,
    "no-use-before-define": 0,
    "no-nested-ternary": 0,
    "no-unused-vars": 1,
    "no-sequences": "error",
    "one-var": [0, "initializations"],
    "one-var-declaration-per-line": [0, "initializations"],
    "implicit-arrow-linebrak": 0,
    "react/no-array-index-key": 0,
    "required": {
      "some": ["nesting", "id"]
    }
  }
}
